/* >> css-snippet */
.btn {
    color: green;
    text-align: center;
}
/* << css-snippet */

/* >> css-snippet-with-hidden-section */
.btn {
    color: green;
    /* >> (hide) */
    visibility: hidden;
    /* << (hide) */
}
/* << css-snippet-with-hidden-section */